# Ignora cache di Python
__pycache__/
*.py[cod]

# Ignora ambienti virtuali
env/
venv/
ambiente_progetto_pss/

#ignore file contenti chiavi private
.env

# Ignora file temporanei di sistema
.DS_Store

# Ignora file di backup
*.bak
*.swp

#ignore file database
watchlist.db

# ignore dati pesanti
data/similarity.pkl
